# Get this token from the "Slash command" application you defined in Slack
[Slack]
slack_token = XXXXXXXXXXXXXXXXXXXXXXXX
channels = ["nagios", "ops"]

# This is the endpoint of nagiosapi running on your Nagios server
[Nagios]
url = http://nagios.example.com:6315/schedule_downtime
auth_commands = ["schedule_downtime", "schedule_check"]
